html,body{
    margin: 0;
    padding:0;
    font-weight: normal;
    vertical-align: baseline;
}

body, html{
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    /* user-select: none ; // 禁用文本选中 */
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: auto;
    margin: 0;
    
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
    font-size: 15px;
    position: relative;
    left: 10px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: gray;
    font-size: 15px;
    position: relative;
    left: 10px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: gray;
    font-size: 15px;
    position: relative;
    left: 10px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray;
    font-size: 15px;
    position: relative;
    left: 10px;
}

/* body {
    transform: scale(1.25);
    transform-origin: center top 0px;
} */



